.Container{
  background-color: var(--main-card-bg-color);
  border-radius: 10px;
  box-shadow: var(--main-box-shadow);
}
.ItemCard {
  width: 200px;
  border : none;
}

.ItemImg {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 35%,
    rgba(129, 164, 232, 1) 100%
  );
}


.ItemTitle{
    font-size: .8rem;
    font-weight: 600;
}

.ItemDesc{
    font-size: .6rem;
    font-weight: 400;
}

.ItemPrice{
    font-weight: bold;
}