*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  position: relative;
  background-color: var(--main-background-color);
  font-family: 'propmt', sans-serif;

}



/* CSS variables Global to use all the css files */
