.Card{
    background-color: #D7E5F4;
    width: 800px;
    border-radius: 13px;
    box-shadow: 4px 6px 5px 0px #aaaaaa;

}

.CardBody{
    padding: 0;
}

.searchBtn{
    width: 162px;
    height: 40px;
    background-color: var(--main-color) !important;
    color: var(--main-text-color) !important;
    border-radius: 13px 0 0 13px;
    box-shadow: 5px 1px 4px 1px #aaaaaa;
    border: none;
}


.searchIcon{
    color: var(--main-color);
    font-size: 1.5rem;
    cursor: pointer;

}

.searchInput{
    border: none;
    box-shadow: none !important;   
    border-radius: 0;
    padding: 0.5rem;
    width: 100%;
    font-size: 1rem;
    background-color: #D7E5F4 !important;
}


@media screen and (max-width: 992px) {

    .searchBtn{
        width: 100%;
    }
}


